{% extends './base_accounts.html' %}
{% load static %}

{% block title %}Log in{% endblock title %}

{% block content %}
  
  <div class="login-box-msg">
    <h3>Login</h3>
    Sign in to start your session
  </div>

  <form method="post" novalidate>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <i class="far fa-eye" id="togglepassword" style="margin-left: -30px; cursor: pointer;"></i>
    {% include '../includes/form_one_col_full.html' %}
    <div class="row">
      <div class="col-8">
      </div>
      <!-- /.col -->
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
      </div>
      <!-- /.col -->
    </div>
  </form>
<!--
  <p class="mb-1">
    <a href="#">I forgot my password</a>
  </p>
-->  
{% endblock content %}
