{% extends '../base.html' %}
{% load static form_tags %}

{% block title %}Employees{% endblock title %}

{% block page_title %}
{% if setting %}
Edit Employee
{% else %}
New Employee
{% endif %}
{% endblock page_title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/asterisk_on_required.css' %}">
{% endblock css %}
    

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'employee_list' %}">Employees</a></li>
    <li class="breadcrumb-item active">
        
        {% if client %}
            Edit
        {% else %}
            New
        {% endif %}
            
    </li>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="card m-4">
        <form method="post" novalidate>
            {% csrf_token %}

            <div class="card-header">
                <h3 class="card-title">Please fill in all the fields marked with an <label class="required">asterisk</label>.</h3>
            </div>

            <div class="card-body">
                <div class="col-12">
                    {% include '../includes/form_one_col.html' %}
                    <div class="form-group">
                        <label for="id_features" class="required">Features:</label>
                        <span class="text-muted">(Check all that apply.)</span>
                        <div id="id_features">
                            {% for key, meta in features %}
                                <div class="form-check">
                                    {% for x in meta.sub_of|split:" " %}
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    {% endfor %}
                                    <input class="form-check-input" type="checkbox" name="features" id="id_{{ key }}" data-sub-of="{{ meta.sub_of }}" value="{{ key }}" {% if key in selected_features %}checked{% endif %}>
                                    <label class="form-check-label" for="id_{{ key }}">
                                        {{ meta.description }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card-footer">
                
                {% if not form.first_name.value %}
                <button type="submit" class="btn btn-success" name="another">Save and add another</button>
                {% endif %}
                    
                <button type="submit" class="btn btn-secondary" name="save">Save</button>
                <a href="{% url 'employee_list' %}" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu-settings").addClass("active")
        })

        $(document).on('change', 'input[name="features"]', function() {
            var $this = $(this);
            var $id = $this.attr('id').replace('id_', '');
            var $subOf = $this.data('sub-of');
            $('input[name="features"][data-sub-of~="' + $id + '"]').prop('checked', $this.is(':checked'));
            if ($subOf && $subOf.toString().length > 0) {
                if (!$this.is(':checked')) {
                    $parents = $subOf.split(" ").reverse();
                    $parents.forEach(parentId => {
                        var checkedCount = $('input[name="features"][data-sub-of~="' + parentId + '"]:checked').length;
                        var allSiblingsUnchecked = checkedCount === 0;
                        if (allSiblingsUnchecked) {
                            $('input[name="features"][id="id_' + parentId + '"]').prop('checked', false);
                        }
                    });
                }
                else {
                    $parents = $subOf.split(" ");
                    $parents.forEach(parentId => {
                        $('input[name="features"][id="id_' + parentId + '"]').prop('checked', true);
                    });
                }
            }
        });

        $(document).on('change', '#id_user_type', function() {
            var $this = $(this);
            if ($this.val() == 9) {
                $('input[name="features"]').prop('checked', true);
            }
        });
    </script>
{% endblock js %}