{% extends '../base.html' %}
{% load static form_tags %}

{% block title %}{{ setting_name }} List{% endblock title %}

{% block page_title %}
{% if setting %}
Edit {{ setting_name }}
{% else %}
New {{ setting_name }}
{% endif %}
{% endblock page_title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/asterisk_on_required.css' %}">
{% endblock css %}
    

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'setting_list' %}?type={{ setting_code }}">{{ setting_name }}</a></li>
    <li class="breadcrumb-item active">
        
        {% if client %}
            Edit
        {% else %}
            New
        {% endif %}
            
    </li>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="card m-4">
        <form method="post" novalidate>
            {% csrf_token %}

            <div class="card-header">
                <h3 class="card-title">Please fill in all the fields marked with an <label class="required">asterisk</label>.</h3>
            </div>

            <div class="card-body">
                <div class="col-12">
                    {% include '../includes/form_one_col.html' %}
                </div>
            </div>
            
            <div class="card-footer">
                
                {% if not setting %}
                <button type="submit" class="btn btn-success" name="another">Save and add another</button>
                {% endif %}
                    
                <button type="submit" class="btn btn-secondary" name="save">Save</button>
                <a href="{% url 'setting_list' %}?type={{ setting_code }}" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#menu-settings").addClass("active")
        })
    </script>
{% endblock js %}