{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% load form_tags %}

{% block title %}Clients{% endblock title %}
{% block page_title %}Client details{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'client_list' %}">Clients</a></li>
    <li class="breadcrumb-item active">Details</li>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="card m-4">
        <div class="card-header">
            <h3>{{ client.name }}</h3>
            <h5 class="card-subtitle mb-2 text-muted">{{ client.address }}</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <p class="card-text text-muted">Mobile Number:</p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <p class="card-text">{{ client.mob_num }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <p class="card-text text-muted">Telephone Number:</p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <p class="card-text">{{ client.tel_num }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <p class="card-text text-muted">Email Address:</p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <p class="card-text">{{ client.email }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <p class="card-text text-muted">Date Registered:</p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <p class="card-text">{{ client.created_at }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <p class="card-text text-muted">Last Updated At:</p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <p class="card-text">{{ client.updated_at }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <p class="card-text text-muted">Status:</p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <p class="card-text">
                        {% if client.is_active %}
                            <span class="badge badge-success">Active</span>
                        {% else %}
                            <span class="badge badge-danger">Inactive</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                {% if not request.user.employee.read_only_clients %}
                <a href="{% url 'edit_client' client.pk %}" class="btn btn-warning card-link">Edit</a>
                {% endif %}
                <a href="{% url 'client_list' %}" class="btn btn-default card-link">Back to list</a>
            </div>
        </div>
    </div>

    
    <div class="card m-4">
        <div class="card-header">
            <h4>
                Last 10 Job Orders
                <span class="float-right"><a href="{% url 'create_jo_from_client' client.pk %}" class="btn btn-primary">New Job Order</a></span>
            </h3>
        </div>
        {% if client.client_jo.all.exists %}
        <div class="card-body table-responsive">
            <table id="table" class="table table-hover table-head-fixed table-sm">
                <thead>
                    <tr>
                        <th class="text-center">JO #</th>
                        <th class="text-center">Article</th>
                        <th class="text-center">Repair Work</th>
                        <th class="text-center">Date Created</th>
                        <th class="text-center">Date Promised</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for jo in client.client_jo.all|dictsortreversed:"created_at"|slice:":10" %}
                        <tr>
                            <td class="text-center">
                                <a href="{% url 'jo_details' jo.pk %}">{{ jo.pk|stringformat:"05d" }}</a>
                            </td>
                            <td>{{ jo.watch.article }}</td>
                            <td>{{ jo.repair_work }}</td>
                            <td class="text-center">{{ jo.created_at|date:"M d, Y" }}</td>
                            <td class="text-center">{{ jo.promise_date|date:"M d, Y" }}</td>
                            <td class="text-center">{{ jo.current_status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="card-body">
            <p class="card-text">No job orders found.</p>
        </div>
        {% endif %}
    </div>

{% endblock main_content %}


{% block js %}
    <script>
        $(document).ready(function() {
            $("#table").DataTable({
                order: [[0, 'desc']],
            });
            $("#menu-clients").addClass("active")
        })
    </script>
{% endblock js %}