{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block wrapper %}

{% endblock wrapper %}
  
{% block page_title %}Dashboard{% endblock page_title %}    

{% block main_content %}   

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Greeting section -->
        <div class="row mb-2">
          <div class="col-12">
            <h5>{{ greeting }}, {{ request.user.get_full_name|title }}!</h5>
          </div>
        </div>
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box outline-success">
              <div class="inner">
                <h3>{{ clients }}</h3>

                <p>Clients</p>
              </div>
              <div class="icon">
                <i class="fas fa-users"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box outline-info">
              <div class="inner">
                <h3>{{ open_jo }}</h3>

                <p>Open Job Orders</p>
              </div>
              <div class="icon">
                <i class="fas fa-briefcase"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box outline-warning">
              <div class="inner">
                <h3>{{ due_jo }}&nbsp;<sup style="font-size: 12px">JOs</sup></h3>

                <p>Due Today</p>
              </div>
              <div class="icon">
                <i class="fas fa-circle-exclamation"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box outline-danger">
              <div class="inner">
                <h3>{{ overdue }}&nbsp;<sup style="font-size: 12px">JOs</sup></h3>

                <p>Past Due</p>
              </div>
              <div class="icon">
                <i class="fas fa-triangle-exclamation"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-6 connectedSortable">
            <!-- JO Completion -->
            <div class="card card-outline card-danger" style="min-height: 710px;">
              <div class="card-header border-0">
                <h3 class="card-title">
                  <i class="fas fa-thumbtack mr-1"></i>
                  Priority List
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn bg-danger btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn bg-danger btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body table table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>JO #</th>
                      <th>Item</th>
                      <th>Client</th>
                      <th>Assigned to</th>
                      <th>Due Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if priority_jos %}
                      {% for jo in priority_jos %}
                      <tr>
                        <td><a href="{% url 'jo_details' jo.pk %}">{{ jo.pk|stringformat:"05d" }}</a></td>
                        <td>{{ jo.watch.article }}</td>
                        <td>{{ jo.watch.owner }}</td>
                        <td>{{ jo.assigned_technician }}</td>
                        <td>{{ jo.promise_date|naturalday}}</td>
                      </tr>
                      {% endfor %}
                    {% else %}
                    <tr>
                      <td colspan="4" class="text-center">No priority job orders.</td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>

          </section>

          <!-- Right col -->
          <section class="col-lg-6 connectedSortable">
            <!-- JO Completion -->
            <div class="card card-outline card-info">
              <div class="card-header border-0">
                <h3 class="card-title">
                  Job Order Completion
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="stackedBarChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- Revenue -->
            <div class="card card-outline card-success">
              <div class="card-header border-0">
                <h3 class="card-title">
                  Revenue
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn bg-success btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn bg-success btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
            
          </section>
          <!-- /.right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    
{% endblock main_content %}


{% block js %}
<!-- bootboxjs -->
<script src="{% static 'js/bootbox.all.min.js' %}"></script>
<!-- chartjs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
  $(document).ready(function() {
    $("#menu_dashboard").addClass("active");

    $(".bulletin-title").click(function() {
      bootbox.dialog({
          title: $(this).text(),
          message: $(this).data('details')
      });
    });

    const jo_completion = "{{ jo_completion|safe }}".split(",")
    const jo_ontime = "{{ jo_ontime|safe }}".split(",")
    const labels = "{{ labels|safe }}".split(",")
    const revenue = "{{ revenue|safe }}".split(",")
      
    //---------------------
    //- STACKED BAR CHART -
    //---------------------
    var barChartData = {
      labels  : labels,
      datasets: [
        {
          label               : 'Completed JOs',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : jo_completion
        },
        {
          label               : 'Completed On-Time',
          backgroundColor     : 'rgba(210, 214, 222, 1)',
          borderColor         : 'rgba(210, 214, 222, 1)',
          pointRadius         : false,
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : jo_ontime
        },
      ]
    }
    var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
    var stackedBarChartData = $.extend(true, {}, barChartData)

    var stackedBarChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      scales: {
        xAxes: [{
          stacked: true,
        }],
        yAxes: [{
          stacked: true
        }]
      }
    }

    new Chart(stackedBarChartCanvas, {
      type: 'bar',
      data: stackedBarChartData,
      options: stackedBarChartOptions
    })

    //-------------
    //- LINE CHART -
    //--------------

    var lineChartData = {
      labels  : labels,
      datasets: [
        {
          label               : 'Revenue, in thousands of pesos',
          backgroundColor     : 'rgba(38,157,66,0.9)',
          borderColor         : 'rgba(38,157,66,0.8)',
          pointRadius          : false,
          pointColor          : '#34CE57',
          pointStrokeColor    : 'rgba(38,157,66,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(38,157,66,1)',
          data                : revenue
        }
      ]
    }
    var lineChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
      legend: {
        display: true
      },
      scales: {
        xAxes: [{
          gridLines : {
            display : false,
          }
        }],
        yAxes: [{
          gridLines : {
            display : false,
          },
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
    var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
    var lineChartOptions = $.extend(true, {}, lineChartOptions)
    var lineChartData = $.extend(true, {}, lineChartData)
    lineChartData.datasets[0].fill = false;
    lineChartOptions.datasetFill = false

    var lineChart = new Chart(lineChartCanvas, {
      type: 'line',
      data: lineChartData,
      options: lineChartOptions
    })
  })
</script>
{% endblock js %}
  