{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% load form_tags %}

{% block title %}Job Orders{% endblock title %}
{% block page_title %}Job Order details{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'jo_list' %}">Job Orders</a></li>
    <li class="breadcrumb-item active">Details</li>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="card m-4">
        <div class="card-header row">
            <div class="col-lg-10">
                <h2>{{ joborder.client.name }}</h2>
                <h6 class="card-subtitle mb-2 text-muted">{{ joborder.client.address }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ joborder.client.get_contact_info }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Email: <a href="mailto:{{ joborder.client.email }}">{{ joborder.client.email }}</a></h6>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-block btn-success float-right">Generate Receiving Report</button>
                <button class="btn btn-block btn-success float-right">Generate Releasing Report</button>
            </div>
        </div>
        <div class="card-body p-2">
            <div class="row">
                <div class="col-lg-4">
                    <!-- JOB ORDER DETAILS -->
                    <div class="card card-outline card-primary-color mt-4 ml-4">
                        <div class="card-header">
                            <h4>JO# {{ joborder.pk|stringformat:'05d' }} Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="card-text text-muted">Repair Work:</p>
                                </div>
                                <div class="col-lg-7">
                                    <p class="card-text">{{ joborder.repair_work }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="card-text text-muted">Notices:</p>
                                </div>
                                <div class="col-lg-7">
                                    <p class="card-text">{{ joborder.notices }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="card-text text-muted" title="Case and Bracelet">External:</p>
                                </div>
                                <div class="col-lg-7">
                                    <p class="card-text">{{ joborder.external_case_and_bracelet }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="card-text text-muted">Condition:</p>
                                </div>
                                <div class="col-lg-7">
                                    <p class="card-text">{{ joborder.condition }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="card-text text-muted">Assigned Technician:</p>
                                </div>
                                <div class="col-lg-7">
                                    <p class="card-text">{{ joborder.assigned_technician }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="card-text text-muted">Promised Date:</p>
                                </div>
                                <div class="col-lg-7">
                                    <p class="card-text">{{ joborder.promise_date|naturalday }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="card-text text-muted">Warranty:</p>
                                </div>
                                <div class="col-lg-7">
                                    <p class="card-text">{{ joborder.warranty }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'jo_detail_edit' joborder.pk %}?type=jo" class="btn btn-outline-success card-link">Edit</a>
                        </div>
                    </div>
                    <!-- END OF JOB ORDER DETAILS -->
                    <!-- WATCH DETAIL CARD -->
                    <div class="card card-outline card-primary-color mt-4 ml-4">
                        <div class="card-header">
                            <h4>Watch Details</h4>
                        </div>
                        <div class="card-body">
                            {% if joborder.watch %}
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="card-text text-muted">Article:</p>
                                </div>
                                <div class="col-lg-7">
                                    <p class="card-text">{{ joborder.watch.article }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="card-text text-muted">Serial Number:</p>
                                </div>
                                <div class="col-lg-7">
                                    <p class="card-text">{{ joborder.watch.serial_number }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="card-text text-muted">Watch Movement:</p>
                                </div>
                                <div class="col-lg-7">
                                    <p class="card-text">{{ joborder.watch.watch_movement }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="card-text text-muted">Movement Caliber:</p>
                                </div>
                                <div class="col-lg-7">
                                    <p class="card-text">{{ joborder.watch.movement_caliber }}</p>
                                </div>
                            </div>
                            {% else %}
                            <i>Please add watch details.</i>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            {% if joborder.watch %}
                                <a href="{% url 'jo_detail_edit' joborder.watch.pk %}?type=watch" class="btn btn-outline-success card-link">Edit</a>
                            {% else %}
                                <a href="{% url 'jo_watch_add' joborder.pk %}" class="btn btn-outline-secondary card-link">Add Watch</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- END OF WATCH DETAIL CARD -->
                </div>

                <div class="col-lg-5">
                    <!-- ARRIVAL PHOTOS -->
                    <div class="card card-outline card-primary-color mt-4 ml-4">
                        <div class="card-header">
                            <h4>Arrival Photos</h4>
                        </div>
                        <div class="card-body">
                            <!-- Slick Carousel-->
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn  btn-outline-secondary card-link">Add Photo</a>
                        </div>
                    </div>
                    <!-- END OF ARRIVAL PHOTOS -->
                    
                    <!-- RELEASE PHOTOS -->
                    <div class="card card-outline card-primary-color mt-4 ml-4">
                        <div class="card-header">
                            <h4>Release Photos</h4>
                        </div>
                        <div class="card-body">
                            <!-- Slick Carousel-->
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn  btn-outline-secondary card-link">Add Photo</a>
                        </div>
                    </div>
                    <!-- END OF RELEASE PHOTOS -->
                </div>

                <div class="col-lg-3">
                    <div class="card card-outline card-primary-color mt-4 ml-4">
                        <div class="card-header">
                            <h4>Status</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-4">
                                <h5 class="text-muted">Current Status:</h5>
                                <h4>{{ joborder.current_status }}</h3>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div>
                                <h5 class="text-muted">Update to:</h5>
                                <form id="update-status-form" method="POST">
                                    {% csrf_token %}
                                    <select name="status" class="form-control">
                                        <option value="1">For Repair</option>
                                        <option value="2">For Releasing</option>
                                        <option value="3">Released</option>
                                    </select>
                                    <button type="submit" class="btn btn-outline-success mt-2">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button card with tabs -->

            <div class="card card-outline card-primary-color mt-4 ml-4">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="estimate-tab" data-toggle="tab" href="#estimate" role="tab" aria-controls="estimate" aria-selected="true">Estimate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="assessments-tab" data-toggle="tab" href="#assessments" role="tab" aria-controls="assessments" aria-selected="false">Assessments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tests-tab" data-toggle="tab" href="#tests" role="tab" aria-controls="tests" aria-selected="false">Test Logs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="charges-tab" data-toggle="tab" href="#charges" role="tab" aria-controls="charges" aria-selected="false">Charges</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="estimate" role="tabpanel" aria-labelledby="estimate-tab">
                            <h5>Job Order Estimate</h5>
                            <form id="estimate-form" method="POST" action="{% url 'jo_save_estimate' joborder.pk %}">
                                {% csrf_token %}
                                <div class="row mt-4">
                                    <div class="col-lg-5">
                                        <div class="row form-group">
                                            <div class="col-lg-4"><label for="serviceFee">Service Fee:</label></div>
                                            <div class="col-lg-8"><input type="number" name="serviceFee" id="serviceFee" class="form-control text-right" value="{{ joborder.estimate_jo.service_fee }}" min="0"></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-lg-4"><label for="parts">Parts:</label></div>
                                            <div class="col-lg-8"><input type="number" name="parts" id="parts" class="form-control text-right" value="{{ joborder.estimate_jo.parts }}" min="0"></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-lg-4"><label for="total">Total Estimate:</label></div>
                                            <div class="col-lg-8"><input type="number" name="total" id="total" class="form-control text-right" disabled></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4"></div>
                                            <div class="col-lg-8 text-right">
                                                <button type="submit" class="btn btn-outline-success">Update</button>
                                                <button class="btn btn-success">Generate Estimate Form</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="assessments" role="tabpanel" aria-labelledby="assessments-tab">
                            <h5>Assessments</h5>
                            {% if assessments %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Assessment Date</th>
                                        <th>Technician</th>
                                        <th>Assessment</th>
                                        <th width="10%" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for assessment in assessments %}
                                    <tr>
                                        <td>{{ assessment.assessment_date|naturalday }}</td>
                                        <td>{{ assessment.assessed_by }}</td>
                                        <td>{{ assessment.assessment }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'jo_detail_edit' assessment.pk %}?type=assessment"><i class="far fa-edit"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p class="card-text">No assessments available.</p>
                            {% endif %}
                            <a href="{% url 'jo_documentation_add' joborder.pk %}?type=assessment" class="btn btn-outline-secondary">Add Assessment</a>
                        </div>

                        <div class="tab-pane fade" id="tests" role="tabpanel" aria-labelledby="tests-tab">
                            <h5>Test Logs</h5>
                            {% if tests %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Tested On</th>
                                        <th>Amplitude</th>
                                        <th>Comments</th>
                                        <th>Tested By</th>
                                        <th width="10%" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for test in tests %}
                                    <tr>
                                        <td>{{ test.tested_on|naturaltime }}</td>
                                        <td>{{ test.amplitude }}</td>
                                        <td>{{ test.comments }}</td>
                                        <td>{{ test.tested_by }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'jo_detail_edit' test.pk %}?type=test"><i class="far fa-edit"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p class="card-text">No test logs available.</p>
                            {% endif %}
                            <a href="{% url 'jo_documentation_add' joborder.pk %}?type=test" class="btn btn-outline-secondary">Add Test Log</a>
                        </div>
                        <div class="tab-pane fade" id="charges" role="tabpanel" aria-labelledby="charges-tab">
                            <h5>Charges</h5>
                            {% if charges %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Particular</th>
                                        <th class="text-right">Unit Price</th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-right">Total</th>
                                        <th width="10%" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for charge in charges %}
                                    <tr>
                                        <td>{{ charge.particular }}</td>
                                        <td class="text-right">{{ charge.unit_price|floatformat:2|intcomma }}</td>
                                        <td class="text-center">{{ charge.quantity }}</td>
                                        <td class="text-right">{{ charge.total_amount|floatformat:2|intcomma }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'jo_detail_edit' charge.pk %}?type=charge"><i class="far fa-edit"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr style="font-weight: bold; font-size: large;">
                                        <td colspan="3">Total</td>
                                        <td class="text-right">{{ joborder.total_charges|floatformat:2|intcomma }}</td>
                                        <td></td>
                                </tbody>
                            </table>
                            {% else %}
                            <p class="card-text">No charges yet.</p>
                            {% endif %}
                            <a href="{% url 'jo_documentation_add' joborder.pk %}?type=charge" class="btn btn-outline-secondary">Add Charge</a>
                            {% if charges %}
                            <button class="btn btn-success">Generate Invoice</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main_content %}


{% block js %}
    <script src="{% static 'js/joborder.js' %}"></script>
    <script>
        $(document).ready(function() {
            $("#menu-jo").addClass("active")
        })
    </script>
{% endblock js %}